.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right:0;
  top: 64px;
  background-color: #2f80ed;
}

@media screen and (max-width: 1279px){
  .header__square-pic{
    height: 368px;
    width: 356px;
  }
}

@media screen and (max-width: 508px){
  .header__square-pic{
    height: 268px;
    width: 256px;
  }
}
