
.feynman{
  max-width: 1280px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  min-height: 1090px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

@media screen and (max-width: 1108px){
  .feynman{
    min-height: 690px;
    justify-content: center;
  }
}

@media screen and (max-width:868px){
  .feynman{
    min-height: 490px;
  }
}

@media screen and (max-width:612px){
  .feynman{
    min-height: 390px;
  }
}

@media screen and (max-width:500px){
  .feynman{
    min-height: 270px;
  }
}

@media screen and (max-width:370px){
  .feynman{
    min-height: 250px;
  }
}
