.header {
  height: 756px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
  max-width: 1280px;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (max-width: 734px){
  .header{
    height: 556px;
  }
}

@media screen and (max-width: 404px){
  .header{
    height: 456px;
  }
}
