
.two-columns__paragraph{
  margin-bottom: 30px;
  margin-top: 0;
}

.two-columns__paragraph:last-of-type{
  margin-bottom: 0;
}


@media screen and (max-width: 401px) {
  .two-columns__paragraph{
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
  }
}
