
.table{
  z-index: 3;
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 48px 0 48px;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}

@media screen and (max-width:500px){
  .table{
    padding: 35px 28px 0 28px;
  }
}

@media screen and (max-width:370px){
  .table{
    padding: 10px 18px 0 18px;
  }
}
