.resources__logo-zone {
  display: flex;
  margin: 80px auto 217px;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 40px;
}

@media screen and (max-width:480px){
  .resources__logo-zone {
    display: flex;
    margin: 30px auto 117px;
    gap: 30px;
  }
}
