.header__subtitle {
  max-width: 388px;
  z-index: 6;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 970px){
  .header__subtitle{
    font-size: 16px;
    line-height: 20px;
    -webkit-text-stroke: 0.3px rgb(105, 105, 105);
  }
}

@media screen and (max-width: 444px){
  .header__subtitle{
    font-size: 14px;
    line-height: 17px;
    text-shadow: 1px white;
  }
}
