.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта,
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  min-height: 756px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #f2f2f2;
  position: relative;
}

.logo{
  width: 228px;
  height: 32px;
  z-index: 2;

}

.logo_place_header
{
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  z-index: 1;
  line-height: 96px;
  font-weight: 600;
  font-size: 102px;
}

.header__subtitle {
  width: 388px;
  z-index: 1;
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  bottom: 30px;
  left: 64px;
}

.header__main-illistration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right:0;
  z-index: 3;
  background-position: center;
  background-size: cover;
}


.header__link
{
color: #2f80ed;
text-decoration: none;

}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right:0;
  top: 64px;
  background-color: #2f80ed;

}






.description{
  margin-top: 100px;
  width: 100%;
}

.two-columns{
  width: 80%;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

}

.two-columns__brief{
  display: flex;
  margin-top: 0;
  padding-top: 0;
  flex-direction: column;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;

}

.two-columns__paragraph{
  margin-bottom: 30px;
  margin-top: 0;
}

.two-columns__paragraph:last-of-type{
  margin-bottom: 0;

}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;


}

.two-columns__span-accent{
  font-weight: 600;

}


.digits{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  }

.section-title{
  width: 60%;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;

}

.section-subtitle{
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;

}

.table{
  z-index: 3;
  width: 1100px;
  margin: 0 auto;
  padding-top: 60px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row wrap;
}

.table__cell{
  width: 250px;
  margin-bottom: 60px;

}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.table__text:last-of-type{
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

.feynman{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 890px;
  background-color: #f2f2f2;
}

.feynman__title{
  margin-top: 100px;
  margin-bottom: 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  text-align: center;
  z-index: 2;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 2;
}

.feynman__background-image{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  background-image: url(/images/feynman.png);
  background-position: center;
  background-size: cover;
}

.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-size: 400;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman{
  margin: 0 auto;
  padding: 90px 0;
  overflow: hidden;
  background-color: #1f1f1f;
  color: white;
  position: relative;
  z-index: 3;
}

.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
}


.table_theme_dark{
  z-index: 3;
}


.kaufman__triangle
{
  z-index: -1;
  position: absolute;
  right: -210px;
  top: 0;
  background-image: url(/images/kaufman-triangle.svg);
  background-position: center;
  background-size: cover;
  width: 877px;
  height: 877px;
}

.footer{
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  background-color: #1f1f1f;
  color:white;
}

.footer__columns
{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}


.footer__column-links
{
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright
{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  height: 350px;
}

.footer__author
{
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;

}


.footer__column_content_info
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__column_content_social{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.footer__column-heading
{
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__text-link{
  color:  inherit;
  max-width: 100%;
  display: flex;
  justify-content: row;
}


.footer__column-link
{
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.footer__social-icon
{
  margin-right: 10px;
  padding: 0;
  width: 16px;
  height: 16px;
}
