
.khan__buy-link{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}



.khan__buy-link:hover{
  opacity: 70%;
}
